# Configuration file

general {
    # enable coil bonus for Large Chemical Reactor (LCR). 5% energy discount every tier higher than cupronickel.
    B:"LCR Coil Bonus"=true

    # Modids to check if that mod is loaded. If not, then forces a crash.
    S:Modids <
        gregtech
        gcym
        gcyl
        supercritical
     >

    # All fluid slots of singleblocks can hold up to 64,000L.
    B:"Singleblock 64B fluid slots"=true
}


