# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25
    I:FRICTIONBOOTS=0
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:draconicArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:spaceSuit=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=40
}


